<ion-view view-title="Ionic - Basics">
  <ion-content   overflow-scroll="true" padding="true" class="has-header">
      
      <div  class="home_content">
      <h4>Ionic Tutorial</h4>
    <p><b>Ionic</b> is open source framework used for developing mobile applications. It provides tools and services for building mobile UI with native look and feel. Ionic framework needs native wrapper to be able to run on mobile devices. </p>
          </div>
      
  <div  class="home_content">     
<h4>Audience</h4> 
<p>This tutorial is created for JavaScript developers that are new to mobile development. It provides simple, easy to understand explanations with useful working examples. We will go through most of the Ionic framework so you can also use this as a reference for your projects.</p>
      </div>
      
  <div  class="home_content">     
<h4>Prerequisites</h4>
<p>Since Ionic is built on top of AngularJS and Apache Cordova you will need to have basic knowledge about these technologies. You also need to be familiar with HTML, CSS and JavaScript if you want to completely understand all the information provided.</p>
      </div>
  </ion-content>
</ion-view>
