<ion-view view-title="Ionic - Overview">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="home_content">
            <p><b>Ionic</b> is front end HTML framework built on top of AngularJS and Cordova. As per official document following is the definition of the Ionic Framework:</p>
            <blockquote> Ionic is an HTML5 mobile app development framework targeted at building hybrid mobile apps. Think of Ionic as the front-end UI framework that handles all the look and feel and UI interactions your app needs in order to be compelling. Kind of like "Bootstrap for Native," but with support for a broad range of common native mobile components, slick animations, and beautiful design. </blockquote>
        </div>
        <div class="home_content">
            <h4>Ionic Framework Features</h4>
            <p>Following are the most important features of Ionic:</p>
            <ul class="list">
                <li> <b>AngularJS</b>
                    <br>
                    <p> Ionic is using AngularJS MVC architecture for building rich single page applications optimized for mobile devices. </p>
                </li>
                <li> <b>CSS components</b>
                    <br>
                    <p> With native look and feel, these components offer almost all elements that mobile application needs. Components default styling can be easily overridden to accommodate your own design. </p>
                </li>
                <li> <b>JavaScript components</b>
                    <br>
                    <p> These components are extending CSS components with JavaScript functionalities to cover all mobile elements that can't be done only with HTML and CSS. </p>
                </li>
                <li> <b>Cordova Plugins</b>
                    <br>
                    <p> Apache Cordova plugins offer API needed for using native device functions with JavaScript code. </p>
                </li>
                <li> <b>Ionic CLI</b>
                    <br>
                    <p> This is NodeJS utility powered with commands for starting, building, running and emulating Ionic applications. </p>
                </li>
                <li> <b>Ionic View</b>
                    <br>
                    <p> Very useful platform for uploading, sharing and testing your application on native devices. </p>
                </li>
                <li> <b>Licence</b>
                    <br>
                    <p> Ionic is released under MIT license.
                        <p> </p>
                </li>
            </ul>
        </div>
        <div class="home_content">
            <h4>Ionic Framework Advantages</h4>
            <ul class="list">
                <li>
                    <p> Ionic is used for hybrid app development. This means that you can package your applications for IOS, Android, Windows Phone and Firefox OS which can save you a lot of working time. </p>
                </li>
                <li>
                    <p> Starting your app is very easy since Ionic provides useful pre-generated app setup with simple layouts. </p>
                </li>
                <li>
                    <p> The apps are built in very clean and modular way, so it's very maintainable and easy to update. </p>
                </li>
                <li>
                    <p> Ionic developers team have very good relationship with google developers team and they are working together to improve the framework. The updates are coming out regularly and Ionic support group is always willing to help when needed. </p>
                </li>
            </ul>
        </div>
        <div class="home_content">
            <h4>Ionic Framework Limitations</h4>
            <ul class="list">
                <li>
                    <p> Testing can be tricky since browser doesn't always give you right information about the phone enviroment. There is so many different devices and platforms and you usually need to cover most of them. </p>
                </li>
                <li>
                    <p> It can be hard to combine different native functionalities. Lot of time you will run into plugin compatibility issues, which leads to build errors hard to debug. </p>
                </li>
                <li>
                    <p> Hybrid apps tend to be slower than the native ones, but since the mobile technologies are improving fast this will not be an issue in the near future. </p>
                </li>
            </ul>
        </div>
        <br>
        <br> </ion-content>
</ion-view>