<ion-view view-title="Ionic - Checkbox">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
   <div class="IOimgsize">
         <hr />
<p><b>Ionic checkbox</b> is almost the same as toggle. The two are styled differently but are used for the same purposes.</p>

<hr><h4>Adding Checkbox</h4>
<p>When creating checkbox form you need to add <b>checkbox</b> class name to both label and input elements. Example below shows two simple checkboxes, one is checked and the other is not.</p>

<pre class="prettyprint notranslate">
&lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
&lt;/label&gt;

&lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
&lt;/label&gt;
</pre>
<hr><h4>Multiple Checkboxes</h4>
<p>As we already showed, the list will be used for any multiple elements. Now we will use <b>item-checkbox</b> class for each list item.</p>

<pre class="prettyprint notranslate">
&lt;ul class="list"&gt;
&lt;li class="item item-checkbox"&gt;
   Checbox 1
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox"&gt;
   Checkbox 2
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox"&gt;
   Checkbox e
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox"&gt;
   Checkbox 4
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;/ul&gt;
</pre>
<hr><h4>Styling Checkbox</h4>
<p>When you want to style checkbox you need to apply any Ionic color class with <b>checkbox</b> prefix. Check example below to see how it looks like. We will use list of checkboxes for this example.</p>

<pre class="prettyprint notranslate">
&lt;ul class="list"&gt;
&lt;li class="item item-checkbox checkbox-light"&gt;
   Checbox 1
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox checkbox-stable"&gt;
   Checkbox 2
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-positive"&gt;
   Checkbox 3
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-calm"&gt;
Checkbox 4
&lt;label class="checkbox"&gt;
&lt;input type="checkbox"&gt;
&lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-balanced"&gt;
   Checkbox 5
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-energized"&gt;
   Checkbox 6
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-assertive"&gt;
   Checkbox 7
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-royal"&gt;
   Checkbox 8
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;li class="item item-checkbox  checkbox-dark"&gt;
   Checkbox 9
   &lt;label class="checkbox"&gt;
   &lt;input type="checkbox"&gt;
   &lt;/label&gt;
&lt;/li&gt;

&lt;/ul&gt;
</pre>
<hr />

       
       
      </div>
      <br><br>
  </ion-content>
</ion-view>
