<ion-view view-title="Ionic - Content">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
   <hr />
<p>Almost every mobile app contains some fundamental elements. Usualy those elements include <b>header</b> and <b>footer</b> that will cover top and bottom part of the screen. All the other elements will be placed between those two. Ionic provide <b>ion-content</b> element that serves as a containiner that will wrap all the other elements that we want to create.</p>
<p>This container has some unique characteristics but since this is Javascript based component we will cover it in our later <a href="/ionic/ionic_js_content.htm" target="_blank">tutorial</a>.
</p>
<hr />

      
      <br><br>
  </ion-content>
</ion-view>
