<ion-view view-title="Ionic - Padding">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="IOimgsize">
        <hr />
<p>Ionic offers easy way to add padding to elements. There are couple of classes that can be used and all of them will add <b>10px</b> between border of element and it's content. The table below displays all available padding classes.</p>
<hr><h4>Padding Classes</h4>
<table class="table table-bordered" id="pad" >
<tbody>
<tr>
<th>Class Name</th>
<th>Class Info</th>      
</tr>
<tr>
<th>padding</th>
<td>Adds padding around every side.</td>
</tr>
<tr>
<th>padding-vertical</th>
<td>Adds padding to the top and bottom.</td>
</tr>
<tr>
<th>padding-horizontal</th>
<td>Adds padding to the left and right.</td>
</tr>
<tr>
<th>padding-top</th>
<td>Adds padding to the top.</td>
</tr>
<tr>
<th>padding-right</th>
<td>Adds padding to the right.</td>
</tr>
<tr>
<th>padding-bottom</th>
<td>Adds padding to the bottom.</td>
</tr>
<tr>
<th>padding-left</th>
<td>Adds padding to the left.</td>
</tr>
</tbody>
</table>
        <hr>
<h4>Using Padding</h4>
<p>When you want to apply some padding to your element you just need to assign one of the classes from the table above. Following example shows two block buttons. First one use <b>padding</b> class and the second one doesn't. You will notice that the first button is larger since it has <b>10px</b> padding applied.</p>
<pre class="prettyprint notranslate">
&lt;div class = "button button-block padding"&gt;Padding&lt;/div&gt;
&lt;div class = "button button-block"&gt;No padding&lt;/div&gt;
</pre>
<hr />
      </div>
      <br><br>
  </ion-content>
</ion-view>
