<ion-view view-title="Ionic - Select">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="IOimgsize">
        <hr />
<p>Ionic select will create simple menu with select options to choose from. Select menu will look differently on different platforms since it's styling is handled by the browser.</p>
<hr><h4>Using Select</h2>
<p>First we will create <b>label</b> and add <b>item-input</b> and <b>item-select</b> classes. The second class will add additional styling to select form, then we will add <b>input-label</b> class inside that will be used to add a name to our select element. We will also add <b>select</b> with <b>option</b> inside. This is regular HTML5 select element. Example below is showing Ionic select with three options.</p>
<pre class="prettyprint notranslate">
&lt;label class = "item item-input item-select"&gt;
   &lt;div class = "input-label"&gt;
      Select
   &lt;/div&gt;
	
   &lt;select&gt;
      &lt;option&gt;Option 1&lt;/option&gt;
      &lt;option selected&gt;Option 2&lt;/option&gt;
      &lt;option&gt;Option 3&lt;/option&gt;
   &lt;/select&gt;
&lt;/label&gt;
</pre>
<p>The above code will produce following screen &minus;</p>
<hr><h4>Styling Select</h2>
<p>The next example will show you how to apply styling to select. We are creating list with nine differently styled select elements using Ionic colors. Since we are using list with items, <b>item</b> will be prefix to color classes.</p>
<pre  class="prettyprint notranslate">
&lt;div class = "list"&gt;
   &lt;label class = "item item-input item-select item-light"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
		
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-stable"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-positive"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-calm"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-balanced"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-energized"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-assertive"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-royal"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;

   &lt;label class = "item item-input item-select item-dark"&gt;
      &lt;div class = "input-label"&gt;
         Select
      &lt;/div&gt;
		
      &lt;select&gt;
         &lt;option&gt;Option 1&lt;/option&gt;
         &lt;option selected&gt;Option 2&lt;/option&gt;
         &lt;option&gt;Option 3&lt;/option&gt;
      &lt;/select&gt;
   &lt;/label&gt;
	
&lt;/div&gt;
</pre>
<hr />
      </div>
      <br><br>
  </ion-content>
</ion-view>
