<ion-view view-title="Ionic Advanced Concepts">
  <ion-content>
   <div class="list">

  <a class="item item-icon-left" href="#/app/cordovaIntegration">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Cordova Integration
  </a>
        <a class="item item-icon-left" href="#/app/camera">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Camera
  </a>
       <a class="item item-icon-left" href="#/app/facebook">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Facebook
  </a>
       <a class="item item-icon-left" href="#/app/InappBrowser">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - In App Browser
  </a>
       <a class="item item-icon-left" href="#/app/nativeAudio">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Native Audio
  </a>
       <a class="item item-icon-left" href="#/app/geologication">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Geolocation
  </a>
       <a class="item item-icon-left" href="#/app/media">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Media
  </a>
       <a class="item item-icon-left" href="#/app/splashscreen">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Splash Screen
  </a>
       
      </div>
  </ion-content>
</ion-view>
