<ion-view view-title="Ionic Basics Tutorial">
  <ion-content>
   <div class="list">

  <a class="item item-icon-left" href="#/app/basics">
    <i class="icon ion-ios-arrow-left"></i>
    Ionic - Basics
  </a>
        <a class="item item-icon-left" href="#/app/overview">
    <i class="icon ion-ios-arrow-left"></i>
    Ionic - Overview
  </a>
        <a class="item item-icon-left" href="#/app/environment">
    <i class="icon ion-ios-arrow-left"></i>
    Ionic - Environment Setup
  </a>
      </div>
  </ion-content>
</ion-view>
