<ion-view view-title="Ionic CSS Components">
  <ion-content>
    <div class="list">

  <a class="item item-icon-left" href="#/app/color">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Color
  </a>
        <a class="item item-icon-left" href="#/app/header">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Header
  </a>
     <a class="item item-icon-left" href="#/app/content">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Content
  </a>
         <a class="item item-icon-left" href="#/app/footer">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Footer
  </a>
        
        <a class="item item-icon-left" href="#/app/buttons">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Buttons
  </a>
        <a class="item item-icon-left" href="#/app/lists">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Lists
  </a>
        
        <a class="item item-icon-left" href="#/app/cards">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Cards
  </a>
        
        <a class="item item-icon-left" href="#/app/forms">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Forms
  </a>
        
        <a class="item item-icon-left" href="#/app/toggle">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Toggle 
  </a>
        
        <a class="item item-icon-left" href="#/app/checkbox">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Checkbox
  </a>
        
        <a class="item item-icon-left" href="#/app/readiobutton">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Radio Button
  </a>
        
        <a class="item item-icon-left" href="#/app/range">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Range
  </a>
        
        <a class="item item-icon-left" href="#/app/select">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Select
  </a>
        
        <a class="item item-icon-left" href="#/app/tabs">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Tabs
  </a>
        
        <a class="item item-icon-left" href="#/app/grid">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Grid
  </a>
        
     
        <a class="item item-icon-left" href="#/app/icons">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Icons
  </a>
        
        <a class="item item-icon-left" href="#/app/padding">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - Padding
  </a>
        
           
        
        
      </div>
  </ion-content>
</ion-view>
