<ion-view view-title="Ionic Home">
  <ion-content  overflow-scroll="true" padding="true" class="has-header">
    <center> <img class="icon" src="./img/ionic_logo.png"></center> 
      <div class="home_content">
     <h4>
      Create mobile apps with the web technologies you love.
    </h4>
    <p>
      Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS CSS components, gestures, and tools for building highly interactive apps. Built with <a href="http://sass-lang.com/" target="_blank">Sass</a>
      and optimized for <a href="http://angularjs.org/" target="_blank">AngularJS</a>.
    </p>
          </div>
      
      <div class="home_content">
      <h4>Performance obsessed</h4>
    <p>
      Speed is important. So important that you only notice when it isn't there. Ionic is
      built to perform and behave great on the latest mobile devices. With <span class="feature-row-strong">minimal DOM</span>
      manipulation, <span class="feature-row-strong">zero jQuery</span>, and <span class="feature-row-strong">hardware accelerated</span> transitions,
      one thing is for sure: You'll be impressed.
    </p>
      
      </div>
      
      <div class="home_content">
        <h4>Angular &amp; Ionic</h4>
    <p>
      <span class="feature-row-strong">A match made in heaven.</span> Ionic utilizes <a href="http://angularjs.org/">Angular</a>
      in order to create a powerful SDK most suited to develop rich and robust applications. Ionic not only
      looks nice, but its core architecture is built for <span class="feature-row-strong">serious app development</span>,
      and Angular ties in perfectly.
    </p>

      
      </div>
      
      <div class="home_content">
          <h4>Native focused</h4>
    <p>
      Ionic is modeled on popular native mobile development SDKs, making it easy to understand for
      anyone that has built a native app for <span class="feature-row-strong">iOS</span> or <span class="feature-row-strong">Android</span>. Just drop it in your code to get going,
      and push through <a href="http://cordova.apache.org/" target="_blank">Cordova</a> or
      <a href="http://phonegap.com/" target="_blank">Phonegap</a> when it's ready. <span class="feature-row-strong">Develop once, deploy everywhere</span>.
    </p>

      
      </div>
      <div class="home_content">
      <h4>Beautifully designed</h4>
    <p>
      Clean, simple, and functional. Ionic has been designed to work and <span class="feature-row-strong">display beautifully</span> on all current mobile devices. With tons of popular mobile components, typography, interactive paradigms, and a gorgeous (yet extensible) base theme, you'll wonder how you lived without it.
    </p>
      </div>
      <div class="home_content">
       <h4>A powerful CLI</h4>
      <p>
        Use just one command to <span class="feature-row-strong">create, build, test, and deploy</span> your Ionic apps onto any platform. With amazing features like Live Reload and integrated logging, you'll already be miles ahead of your native frenemies. Just run <code>npm install -g ionic</code>, and you're good to go!
      </p>
</div> 
      <div class="home_content">
          
           <h4>Fun to learn</h4>
    <p>
      All you need to know are <span class="feature-row-strong">HTML, CSS, and JavaScript:</span> the building blocks of the web. You'll even learn AngularJS as you work. We wrote <a href="http://learn.ionicframework.com">tons of tutorials</a> to get you started and help you level up your mobile development skills. There’s no question <span class="feature-row-strong">you'll be shipping apps in no time</span>.
    </p>
      </div> 
      <div class="home_content">
      <h4>Built by nerds (like you)</h4>
      <p>
        Built and maintained by <span class="feature-row-strong">developers <i>and</i> designers</span> passionate about web technologies. Ionic focuses on standards compliant code, is forward thinking, and is managed through <a href="https://github.com/driftyco/ionic">Github</a>. We're making mobile development with HTML5 awesome and simple.
      </p>

      
      </div>
      
      
      <br><br>
      
  </ion-content>
    
</ion-view>
