<ion-view view-title="Ionic Javascript Components">
  <ion-content>
    <div class="list">

  <a class="item item-icon-left" href="#/app/actionSheet">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Action Sheet
  </a>
        <a class="item item-icon-left" href="#/app/backdrop">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Backdrop
  </a>
        <a class="item item-icon-left" href="#/app/content2">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Content
  </a>
        
        <a class="item item-icon-left" href="#/app/forms2">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Forms
  </a>
        
        
        <a class="item item-icon-left" href="#/app/events">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Events
  </a>
        
        
        <a class="item item-icon-left" href="#/app/header2">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Header
  </a>
        
        <a class="item item-icon-left" href="#/app/footer2">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Footer
  </a>
        
        <a class="item item-icon-left" href="#/app/keyboard">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Keyboard
  </a>
        
        <a class="item item-icon-left" href="#/app/list">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS List
  </a>
        
        <a class="item item-icon-left" href="#/app/loading">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Loading
  </a>
        
        <a class="item item-icon-left" href="#/app/modal">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Modal
  </a>
        
        <a class="item item-icon-left" href="#/app/navigation">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Navigation
  </a>
        
        <a class="item item-icon-left" href="#/app/popover">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Popover
  </a>
        
        <a class="item item-icon-left" href="#/app/popup">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Popup
  </a>
        
        <a class="item item-icon-left" href="#/app/scroll">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Scroll
  </a>
        
        <a class="item item-icon-left" href="#/app/sidemenu">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Side Menu
  </a>
        
        <a class="item item-icon-left" href="#/app/slidebox">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Slide Box
  </a>
        
        <a class="item item-icon-left" href="#/app/tabsjs">
    <i class="icon  ion-ios-arrow-left"></i>
    Ionic - JS Tabs
  </a>
        
        
        
      </div>
  </ion-content>
</ion-view>
